<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<h2><%= @task.title %></h2>

<p><strong>Status:</strong>
<%= @task.status %></p>
<p><strong>Descrição:</strong></p>
<p><%= @task.description %></p>

<%= link_to 'Editar', edit_task_path(@task), class: 'btn btn-warning' %>
<%= link_to 'Voltar', tasks_path, class: 'btn btn-secondary' %>
